<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="grid--full">
  <div class="wrapper-custom">
    <div class="grid__item page-mainHeader-wrapper">
      <h1 class="page-mainHeader text-center">{{ page.title }}</h1>
      <p class="text-center support-quote">For any questions or help you may need.</p>
    </div>
    <div class="location-pageinfo">
      <h3>Customer Support</h3>
      <span class="location-info-headers">Live Representative</span>
      <div class="location-info-days">
        <span class="location-info">Mon-Sat:</span>
        <span class="location-info">Sun:</span>
        <span class="location-info">Call:</span>
      </div>
      <div class="location-info-hours">
        <span class="location-info">9:00 a.m. - 6:00 p.m.</span>
        <span class="location-info">Noon - 6:00 p.m.</span>
        <a href="tel:+1-210-377-1010">210-377-1010</a>
      </div>
      <span class="location-info-headers">24/7 Email Support</span>
      <div class="location-info-days">
        <span class="location-info">Email:</span>
      </div>
      <div class="location-info-hours">
        <a href="mailto:contact@drphonez.com">contact@drphonez.com</a>
      </div>

      <div class="">
        <span class="location-info-headers">HQ Address:</span>
        <span class="location-info">7317 San Pedro Ave</span>
        <span class="location-info">San Antonio, TX 78216</span>
        <span class="location-info">(210) 377-1010</span>
      </div>

    </div>

    <div class="location-gmap">
      {% comment %}
        Regular page content goes here.

      <div class="rte">
        {{ page.content }}
      </div>
      {% endcomment %}

      {% comment %}
        Contact form starts here
      {% endcomment %}
      <div class="form-vertical support-form">
        {% form 'contact' %}

          {% comment %}
            Successful message
          {% endcomment %}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <label for="ContactFormReason">What can we help you with?</label>
          <select id="ContactFormReason" name="contact[Reason]">
            <option>Quote</option>
            <<option>Phonebulance Appointment</option>
            <option>Warranty</option>
            <option>Other</option>
          </select>

          {% assign name_attr = 'contact.form.name' | t | handle %}
          <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

          <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

        {% endform %}
      </div>

    </div>

  </div>

</div>
