<!-- /templates/page.liquid -->

<div class="grid wrapper-custom">
  <div class="grid__item large--ten-twelfths push--large--one-twelfth medium-down--eleven-twelfths grid-nopadding">

    <h1 class="text-center page-mainHeader">All {{ page.title | remove: 'landing page'}} Repairs</h1>
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte landingPage--content">
      {{ page.content }}
    </div>

    {% for collection in collections %}
        {% if collection.description contains "repairs" and collection.title contains page.title %}
        <div class="grid__item large--one-quarter medium-down--one-half">
          <a href="{{collection.url}}" class="grid__image">
            <img class="repairs-img" src="{{collection | img_url: 'large'}}" alt="">
            <h4 class="text-center">{{collection.title}}</h4>
          </a>
        </div>
        {% endif %}

    {% endfor %}

  </div>

</div>
